<%= render "topbar" %>

<div class="container">
  <h1>Attendees</h1>
  <i><%= @event %></i>

  <ul>
    <% @attendees.each do |attendee| %>
    <li>
      <%= attendee %>
      <i><%= attendee.title %></i>
      <%= link_to 'Delete', event_attendee_path(@event, attendee), method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </li>
    <% end %>
  </ul>

  <%= link_to "Import", new_event_attendee_import_path(@event) %> |
  <%= link_to "Back to event", event_path(@event) %>
</div>
