<%= simple_form_for(event, :html => {:multipart => true}) do |f| %>
  <%= f.input :name, :input_html => {:style => "width: 200px;"} %>
  <%= f.input :description, :as => :text, :input_html => {:rows => 5, :style => "width: 300px;"} %>
  <%= f.input :banner, :as => :file %>
  
  <%= content_tag :div, class: "form-group" do -%>
    <%= image_tag event.banner.url(:medium) %>
  <% end if event.banner.present? -%>
  <%= f.input :webview_link, :input_html => {:style => "width: 500px;"} %>
  
  <div class="form-group">
    <%= link_to "Import attendee", new_event_attendee_import_path(event), :class => "btn btn-default" unless event.new_record? %>
  </div>

  <%= f.button :submit, (event.new_record? ? "Next" : "Update"), :class => "btn btn-primary" %>
<% end %>
