<%= render "topbar" %>

<div class="container">
  <p id="notice"><%= notice %></p>
  
  <h1><%= @event.name %></h1>

  <p>
    <strong>Description:</strong>
    <%= @event.description %>
  </p>

  <p>
    <strong>Banner:</strong>
    <%= image_tag @event.banner.url(:medium) %>
  </p>

  <p>
    <strong>Webview link:</strong>
    <%= link_to @event.webview_link unless @event.webview_link.blank? %>
  </p>

  <p>
    <strong>Attendee: (<%= @attendee_count %>)</strong>
    <%= content_tag :ul, :class => "attendees" do %>
      <% @attendees.each do |attendee| %>
      <%= content_tag :li, attendee %>
      <% end %>
    <% end %>
  
    <%= link_to "Import attendee", new_event_attendee_import_path(@event) %> |
    <%= link_to "More", event_attendees_path(@event) %>
  </p>

  <%= link_to 'Edit', edit_event_path(@event) %> |
  <%= link_to 'Back', events_path %>
  
</div>
